@charset 'utf-8';

@import url(https://cdn.jsdelivr.net/gh/tonsky/FiraCode@1.206/distr/fira_code.css);
// @import url('https://fonts.googleapis.com/css?family=Archivo:400,400i,700&display=swap');


/* based off of https://github.com/mblode/marx */
@import 'variables';
@import 'base';
@import 'typography';
@import 'form';
@import 'buttons';
@import 'tables';
@import 'superstructure';
