{% extends "base.html" %}
{% import "post_macros.html" as post_macros %}

{% block content %}
  <main>
    <article itemscope itemtype="http://schema.org/BlogPosting">
      <header>
        <h1 itemprop="headline">{{ page.title }}</h1>
        {{ post_macros::meta(page=page) }}
      </header>
      
      <div itemprop="articleBody">
        {{ page.content | safe }}
        {% if page.extra.repo and page.extra.insert_readme %}
          {% set readme = load_data(url="https://raw.githubusercontent.com/"~page.extra.repo~"/master/README.md") %}
          {{ readme | markdown(inline=true) | safe }}
        {% endif %}
      </div>

      {% block page_footer %}
        <footer>
          <p>
            {% if page.taxonomies.categories %}
              {% set category = page.taxonomies.categories[0] %}
              in <a href="{{ get_taxonomy_url(kind="categories", name=category) | safe }}">{{ category }}</a>
            {% endif %}

            {% if page.taxonomies.tags %}
              and tagged
              {% for tag in page.taxonomies.tags %}
                <a href="{{ get_taxonomy_url(kind="tags", name=tag) | safe }}">{{ tag }}</a>
                {% if page.taxonomies.tags | length > 1 %}
                  {% if loop.index != page.taxonomies.tags | length %}
                    {% if loop.index == page.taxonomies.tags | length - 1 %}
                      and
                    {% else %}
                      ,
                    {% endif %}
                  {% endif %}
                {% endif %}
              {% endfor %}
            {% endif %}
          </p>
        </footer>
      {% endblock page_footer %}
    </article>
  </main>
{% endblock content %}
