{% macro meta(page) %}
  <code>
    <span class="muted">{{ page.date | date(format="%F") }}</span>
  </code>
{% endmacro meta %}

{% macro page_in_list(page) %}
  <article itemscope itemtype="http://schema.org/CreativeWork">
    <header>
      <h2 itemprop="name">
        <a href="{{ page.permalink | safe }}">{{ page.title | lower }}</a>
      </h2>
      <span class="muted">{{ self::meta(page=page) }}</span>
    </header>
    {% if page.summary %}
      <div itemprop="summary">
        {{ page.summary | safe }}
        <nav class="readmore"><a itemprop="url" href="{{ page.permalink | safe }}">Read More&nbsp;&raquo;</a></nav>
      </div>
    {% endif %}
  </article>
{% endmacro page_in_list %}

{% macro page_in_card(page) %}
  <span class="card-row" itemscope itemtype="http://schema.org/CreativeWork">
      <div class="left card-item card-item-name" itemprop="name">
        <a href="{{ page.permalink | safe }}">{{ page.title }}</a>
      </div>
      {% if page.description %}
        <div class="right card-item card-item-desc" itemprop="description">
          {{ page.description | safe }}
        </div>
        <div class="clear"></div>
      {% endif %}
  </span>
{% endmacro page_in_card %}
